@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
:root {
  --color-bg: #0F0F10;
  --color-text: #E0E0E0;
  --color-primary: #426A5A;
  --color-primary-dark: #2A4A3A;
  --color-primary-light: #5A8A7A;
  --color-secondary: #1C2025;
  --color-accent: #7D9D8D; 
  --color-info: #C1A33B;
  --button-hover: #3C4F41; 
  --color-bg-dark: #12181B;
  --color-bg-light: #1C2326;
  --color-text-light: #E1E8ED;
  --color-text-dark: #0F0F10;
  --color-border: #2E353A;
}

[data-theme='light'] {
  --color-bg: #F0E6D6;
  --color-text: #2C2C2C;
  --color-primary: #426A5A; 
  --color-secondary: #B8B2A7;
  --color-accent: #7D9D8D;
  --color-info: #DBB84D;
  --button-hover: #3C4F41; 
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Pixelify Sans', sans-serif;
  text-shadow: 2px 2px 0px #000000;
  

  background-color: #0b0b0b;
  
  overflow-y: auto;

  /* Custom scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #4ade80 #1f2937;
 
}